@using Memories.Data.Enum

@model FamilyMember

<form>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" placeholder="First Name">
        <span asp-validation-for="FirstName" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" placeholder="Last Name">
        <span asp-validation-for="LastName" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="MemberImage">Image</label>
        <input asp-for="MemberImage" class="form-control" placeholder="Enter Image URL">
        <span asp-validation-for="MemberImage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FamilyCategory">Family Name</label>
        <select asp-for="FamilyCategory" asp-items="@Html.GetEnumSelectList<FamilyCategory>()" class="form-control">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="MemberImage" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>