html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}

.Family {
    font-family: 'Bodoni Moda', serif;

/*    font-family: 'Homemade Apple', cursive;
*/
    font-weight: bold;
    color: #0AD6B4;
}


