html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}

.Family {
    font-family: 'Bodoni Moda', serif;

/*    font-family: 'Homemade Apple', cursive;
*/
    font-weight: bold;
    color: #0AD6B4;
}

.FamilyPhoto {

width: 350px;
height: 300px;
object-fit: cover;
padding: 5px;
}

FamilyDetailHeadPhoto {
max-width: 400px;
}

.AddFamilyButton {
    font-size: 36px;
    transform: rotate(90deg);
}

    .AddFamilyButton hover {
        Background-color: #0AD6B4;
    }


