@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 Family">Memories</h1>
    <p>
        <img src="Media/Pictures/Bettye11.jpg" width="60%" alt="Bettye Vacation" />
    </p>

</div>

